{% comment %} {% include 'includes/footer.html' %} {% endcomment %}
<br>
<br>
<br>
<nav class="navbar fixed-bottom border-top border-dark border-2 nav-head shadow">
        <div class="container-fluid w-75">
            <label class="col-1 col-form-label text-center"> Zenflow </label>
            <label class="col-8 col-form-label text-center"> Hale Bradley, Brandon Grossman, and Caden Redinger </label>
            <label class="col-2 col-form-label text-center"> CSCI 313 May 2023</label>
            <label class="col-1 col-form-label text-center"><a class="helpme text-decoration-none" href="{% url 'help' %}">Help</a></label>
        </div>
    </nav>
</body>
</html>